mixin social()
	+b.social&attributes(attributes)
		.yashare-auto-init(data-yasharel10n='ru' data-yasharetype='small' data-yasharequickservices='vkontakte,facebook,twitter,gplus' data-yasharetheme='counter')
