.logo
{
	display: block;
	width: 128px;
	height: 50px;
	text-indent: -9999px;
	border: none;
	background: url('images/logo.png') center no-repeat;
	background-color: transparent;
	background-size: cover;

	&:hover,
	&.hover
	{
		border: none;
	}
}
