include ../book/book

mixin grid()
  .grid.container
    each book in data.books
      +book(book)(class='grid__item')

    //- additional items to fix elements alignment
    .grid__item
    .grid__item
    .grid__item