.book
  display inline-block
  position relative
  

  &__thumb
    position relative
    
    display flex
    justify-content flex-start
    align-items center
    
    margin-bottom 20px
    
    max-height 360px
    overflow hidden
    
    border 0    
    
    img
      max-height 360px

  
  &__info
    padding 0 .5rem


  &__name
    display block
    
    font-size 20px
    font-weight 700
    
    border 0
  

  &__author
    display block
    margin-bottom 5px
    
    font-size 12px
    text-transform uppercase
    letter-spacing .1em
    
    color #888