@import 'helpers/variables'
@import 'helpers/sprites'
@import 'helpers/mixins'

rupture.mobile-cutoff = $mobile-cutoff
rupture.desktop-cutoff = $desktop-cutoff

@import '../blocks/header/*'
@import '../blocks/logo/*'
@import '../blocks/page-meta/*'
@import '../blocks/l-sidebar/*'
@import '../blocks/content/*'
@import "../blocks/sidebar/*"
@import "../blocks/widget/*"
@import "../blocks/vk/*"
@import "../blocks/avatar/*"
@import "../blocks/footer/*"
@import "../blocks/support/*"
