@import 'helpers/variables'
@import 'helpers/sprites'
@import 'helpers/mixins'

rupture.mobile-cutoff = $mobile-cutoff
rupture.desktop-cutoff = $desktop-cutoff

@import '../blocks/header/*'
@import '../blocks/logo/*'
@import "../blocks/vk/*"
@import "../blocks/footer/*"
@import "../blocks/hero/*"
@import "../blocks/sort/*"
@import "../blocks/grid/*"
@import "../blocks/book/*"