include ../sidebar/sidebar

mixin l-sidebar()
  .l-sidebar&attributes(attributes)
    main.l-sidebar__content
      if block
        block
      else
        p Здесь пока что пусто!

    +sidebar()(class='l-sidebar__sidebar')