{
  "rules": {
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "indentation": "tab",
    "at-rule-empty-line-before": ["always", {
      except: ["first-nested"]
    }],
    "at-rule-semicolon-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "block-closing-brace-newline-after": "always",
    "block-opening-brace-newline-before": "always",
    "block-opening-brace-newline-after": "always",
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "length-zero-no-unit": true,
    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,
    "selector-combinator-space-before": "always",
    "selector-combinator-space-after": "always",
    "selector-list-comma-newline-before": "never",
    "selector-list-comma-newline-after": "always",
    "selector-list-comma-space-before": "never",
    "selector-list-comma-space-after": "never",
    "shorthand-property-no-redundant-values": true,
    "string-quotes": "single"
  }
}
