.header
{
	border-bottom: 1px solid var(--border-color);
	background: var(--bg-color);
	box-shadow: 0 2px 16px rgba(#000, 5%);

	&__inner
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 20px;
		padding-bottom: 20px;

		@media (--mobile)
		{
			display: block;
		}
	}

	&__logo
	{
		@media (--mobile)
		{
			margin-right: auto;
			margin-bottom: 30px;
			margin-left: auto;
		}
	}
}
