html, body
  height 100%
  
  font-size 16px
  line-height 1.2
  font-family 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif


h1, h2, h3, h4, h5, h6
  font-weight 900


h1
  font-size 42px

h2
  font-size 30px

h3
  font-size 22px
 

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote
  margin 0
  padding 0


a
  text-decoration none

  color $links-color
  border-bottom 1px solid rgba($links-color, 25%)
  
  &:hover, &.hover
    color lighten(#ff6600, 15%)
    border-color rgba($links-hover-color, 25%)


.container
  container($site-width)
  
  +below($site-width + 40px)
    padding-left 40px
    padding-right 40px
  
  +mobile()
    padding-left 20px
    padding-right 20px


.starts-with-quote
  margin-left -.4em