// Light
@font-face
  font-family "Proxima Nova"
  src url('../fonts/proximanova-light-webfont.woff') format('woff')
  font-style normal
  font-weight 300


// Regular
@font-face
  font-family "Proxima Nova"
  src url('../fonts/proximanova-reg-webfont.woff') format('woff')
  font-style normal
  font-weight normal


// Bold
@font-face
  font-family "Proxima Nova"
  src url('../fonts/proximanova-bold-webfont.woff') format('woff')
  font-style normal
  font-weight 700


// Black
@font-face
  font-family "Proxima Nova"
  src url('../fonts/proximanova-black-webfont.woff') format('woff')
  font-style normal
  font-weight 900