mixin sort()
  .sort
    .sort__inner.container
      span.sort__text
        | Мне нужна книга книга 
        nobr
          | по
          select.sort__select.js-category
      nobr
        span.sort__text на
        select.sort__select.js-language
      span.sort__text языке 
      nobr
        span.sort__text для
        select.sort__select.js-difficulty
      span.sort__text разработчиков