html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6
{
	margin: 0;
	padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6
{
	font-size: 100%;
	font-weight: 900;
}

h1
{
	font-size: 42px;
}

h2
{
	font-size: 30px;
}

h3
{
	font-size: 22px;
}

ul
{
	list-style: none;
}

button,
input,
select,
textarea
{
	margin: 0;
}

html
{
	box-sizing: border-box;
}

*,
*:before,
*:after
{
	box-sizing: inherit;
}

img
{
	height: auto;
	max-width: 100%;
}

iframe
{
	border: 0;
}

html,
body
{
	height: 100%;
	font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
}

a
{
	text-decoration: none;
	color: var(--linkColor);
	border-bottom: 1px solid color(var(--linkColor) alpha(25%));

	&:hover,
	&.hover
	{
		color: var(--linkColorHover);
		border-bottom: 1px solid color(var(--linkColorHover) alpha(25%));
	}
}

.container
{
	max-width: var(--siteWidth);
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;

	@media (--mobile)
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}

.starts-with-quote
{
	margin-left: -.4em;
}

.nobr {
	white-space: nowrap;
}
