html,
body
{
	font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
}

html
{
	height: 100%;
}

body
{
	min-height: 100%;
}

.container
{
	max-width: var(--site-width);
	margin-right: auto;
	margin-left: auto;
	padding-right: 40px;
	padding-left: 40px;

	@media (--mobile)
	{
		padding-right: 20px;
		padding-left: 20px;
	}
}

.starts-with-quote
{
	margin-left: -.4em;
}

.nobr
{
	white-space: nowrap;
}
