:root
{
	--site-width: 1140px;
	--site-padding: 20px;
	--site-background: #fff;
	--link-color: #0072ba;
	--link-color-hover: #d04000;
	--border-color: #eaeaea;
}

@custom-media --mobile (width <= 480px);
@custom-media --tablet (width < 1024px);
@custom-media --desktop (width >= 1024px);
