mixin hero()
  .hero&attributes(attributes)
    .hero__inner
      +header()
      
      .container
        h1.hero__title Забудьте о&nbsp;гугле
        p.hero__description #[span.starts-with-quote «Книжная полка фронтендера»] — это коллекция лучших книг для #[nobr фронтенд-разработчиков]. Книги можно фильтровать по&nbsp;тематике, языку и&nbsp;сложности, благодаря чему вы&nbsp;с&nbsp;лёгкостью найдёте то, что вам нужно.