:root
{
	--tag-items-spacing: .25rem;
	--tag-color: #4078c0;
	--tag-color-active: #fff;
	--tag-background: #e7f2ff;
	--tag-background-hover: color(var(--tag-background) whiteness(85%));
	--tag-background-active: #4a89dc;
}

.tag
{
	display: inline-block;
	margin-right: .5rem;
	padding: .25rem var(--tag-items-spacing);
	line-height: 1;
	cursor: pointer;
	color: var(--tag-color);
	border: 1px solid var(--tag-background);
	border-radius: 3px;
	background-color: var(--tag-background);
}

.tag__checkbox
{
	margin: 0 var(--tag-items-spacing);
}

.tag__content
{
	padding: 0 var(--tag-items-spacing);
}

.tag__content:active
{
	user-select: none;
}
