mixin menu()
	+b.NAV.menu&attributes(attributes)
		+e.A.item.link(href='https://github.com/andrew--r/frontendbookshelf-data/issues/new') Добавить книгу ⇗
		+e.SPAN.delimiter •
		+e.A.item.link(href='mailto:me@andrew-r.ru?subject=[frontendbookshelf] Сообщение о проблеме') Сообщить о проблеме ✉
