mixin menu()
	+b.NAV.menu&attributes(attributes)
		+e.A.item.link(href='https://github.com/andrew--r/frontendbookshelf-data/issues/new') Добавить книгу ⇗
		+e.SPAN.delimiter •
		+e.A.item.link(href='mailto:bugreports@frontenbookshelf.ru') Сообщить о проблеме ✉
