extends ../layouts/main
include ../blocks/hero/hero
include ../blocks/filters/filters
include ../blocks/grid/grid
include ../blocks/footer/footer
include ../blocks/logo/logo

block head
	- var pageTitle = 'Список книг';

block body
	+hero()
	+filters()
	+grid()
	+footer()
