.container
{
	width: 100%;
	max-width: calc(var(--site-width) + var(--site-padding) * 2);
	margin-right: auto;
	margin-left: auto;
	padding-right: var(--site-padding);
	padding-left: var(--site-padding);
}
