.book
{
	position: relative;
	display: inline-block;
	border: 0;
}

.book__thumb
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	max-height: 360px;
	margin-bottom: 20px;
}

.book__thumb img
{
	max-height: 360px;
	box-shadow: 0 8px 24px -8px rgba(0, 0, 0, .1);
}

.book__info
{
	padding: 0 .5rem;
}

.book__title
{
	display: block;
	font-size: 20px;
	font-weight: 700;
	border: 0;
}

.book__author
{
	display: block;
	padding-top: 10px;
	font-size: 12px;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: #888;
}
