$desktop-cutoff = 1024px
$mobile-cutoff = 480px

$links-color = #0072ba
$links-hover-color = #d04000

$bg-color = #fdfdfd
$border-color = #eaeaea

$site-width = 1140px
$content-width = 70%
$sidebar-width = 228px