include ../blocks/header/header
include ../blocks/page-meta/page-meta
include ../blocks/l-sidebar/l-sidebar
include ../blocks/content/content
include ../blocks/support/support
include ../blocks/footer/footer

doctype html
html(lang='ru')
  block head
    - var pageName = 'about'
    - var pageTitle = "О проекте — «Книжная полка фронтендера»"
  include ../blocks/head/head
  body
    +header()
    
    block page-meta
      - var title = 'О проекте'

    +page-meta()(class='container')

    +l-sidebar()(class='container')
      +content()
        p К сожалению, в рунете очень мало по-настоящему качественных ресурсов для изучения фронтенда. Эти ресурсы можно буквально пересчитать по пальцам одной руки — это #[a(href='http://frontender.info/') Frontender Magazine], #[a(href='https://htmlacademy.ru/') HTML Academy], #[a(href='http://learn.javascript.ru/') «Современный учебник JavaScript»]. Я благодарю авторов этих ресурсов за их неоценимый вклад в развитие и популяризацию фронтенда в рунете.

        p Как бы то ни было, тематические сайты — не единственный доступный источник знаний. Существует достаточно большое количество книг, написанных зарубежными авторами. Многие из этих книг переведены на русский язык.

        p Книги — отличный источник знаний, подходящий для освоения чего-либо с нуля. Зачастую книга содержит исчерпывающую информацию о той или иной теме, причём вся эта информация структурирована и представлена в удобном и понятном виде. Вместо того, чтобы хаотично читать никак не связанные между собой статьи о какой-либо технологии, намного продуктивнее будет взять одну книгу и прочитать её от корки до корки, или же прочесть только интересующие вас главы.

        h2 Проблема
        
        p Раньше мне приходилось гуглить, если я хотел найти книги по какой-либо технологии. Недостатки такого способа поиска книг очевидны — вы тратите время на просмотр большого количества сайтов, да ещё и не факт, что вы найдёте нужную книгу. Зачастую я натыкался на отличные книги абсолютно случайно.

        h2 Решение

        p С «книжной полкой» гуглить не придётся: здесь мы собираем все годные книги, так или иначе связанные с фронтендом. Книги можно фильтровать по трём критериям: тематика, язык и сложность. Например, если вы хотите изучить JavaScript — выбирайте эту тематику. Если вы знаете английский плохо — выберите русский язык. Так как вы — новичок, то книги вам нужны для начинающих. Таким образом можно найти подходящую вам книгу буквально за пару минут.

        p Если вы знаете книгу, которой нет в списке, откройте issue на #[a(href='https://github.com/andrew--r/frontendbookshelf/issues') гитхаб] и мы добавим вашу книгу в список.

        h2 Поддержите проект!
        p Средства будут использованы для оплаты хостинга и доменного имени.

        +support()
    
    +footer()
      .footer__left
        +logo()

      .footer__right
        p © 2015 #[a(href='http://andrew-r.ru') Андрей Романов]

    script(type='text/javascript', src='//yastatic.net/share/share.js', charset='utf-8')
    script(type='text/javascript' src='//vk.com/js/api/openapi.js?117')
    script.
      VK.Widgets.Group("vk_groups", {mode: 0, width: "220", height: "200", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 100559694);
    //- метрика
    script(type='text/javascript').
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter32702595 = new Ya.Metrika({ id:32702595, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/32702595', style='position:absolute; left:-9999px;', alt='')