include ../book/book

mixin grid()
	+b.grid.container&attributes(attributes)
		each book in books
			+e.item
				+book(book)
		//- additional items to fix elements alignment
		.grid__item
		.grid__item
		.grid__item
