:root
{
	--grid-item-padding: 2rem;
	--grid-item-min-width: 18.75em;
	--grid-item-max-width: 25rem;
}

.grid
{
	padding-top: 5rem;

	@media (--tablet)
	{
		padding-top: 3.75rem;
	}

	@media (--mobile)
	{
		padding-top: 1.875rem;
	}
}

.grid__inner
{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin-right: calc(var(--grid-item-padding) * -1);
	margin-left: calc(var(--grid-item-padding) * -1);
	flex-wrap: wrap;
}

.grid__item
{
	min-width: var(--grid-item-min-width);
	max-width: var(--grid-item-max-width);
	margin-bottom: 5%;
	padding: 0 var(--grid-item-padding);
	flex: 1 1 25%;

	@media (--tablet)
	{
		margin-bottom: 10%;
	}
}

.grid__item.js-last-visible
{
	flex-basis: 100%;
}

.grid__item.js-hidden
{
	display: none;
}

