include ../book/book

mixin grid()
	+b.grid.container&attributes(attributes)
		each book in books
			+book(book)(class='grid__item')
		//- additional items to fix elements alignment
		.grid__item
		.grid__item
		.grid__item
