.grid
{
	padding-top: 50px;
}

.grid__inner
{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin: 0 calc(var(--grid-item-padding) * -1);
	flex-wrap: wrap;
}

.grid__item
{
	min-width: 250px;
	margin-bottom: 40px;
	padding: 0 var(--grid-item-padding);
	flex: 1 1 25%;
}

.grid__item.js-last-visible
{
	flex-basis: 100%;
}

.grid__item.js-hidden
{
	display: none;
}
