.grid
{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 60px;
	flex-wrap: wrap;

	&::after
	{
		content: '';
	}

	&::after,
	&__item:empty
	{
		display: block;
		max-width: 250px;
		height: 0;
		flex: 0 0 250px;
	}

	&__item
	{
		max-width: 250px;
		margin-bottom: 60px;
		flex: 0 0 250px;

		&:empty
		{
			margin-bottom: 0;
		}

		&.js-hidden
		{
			display: none;
		}
	}
}
