.hero
{
	padding-bottom: 90px;
	background: #fad9a9 url('../images/bg3.png') center repeat;
	background-size: 203px 317px;

	@media (--mobile)
	{
		padding-bottom: 30px;
	}

	& .header
	{
		background: transparent;
		border: none;
		box-shadow: none;
	}

	&__title
	{
		font-size: 36px;
		margin-top: 60px;
		margin-bottom: 15px;

		@media (--mobile)
		{
			margin-top: 15px;
			margin-bottom: 10px;
			font-size: 24px;
		}
	}

	&__description
	{
		max-width: 700px;
		font-size: 18px;

		@media (--mobile)
		{
			font-size: 16px;
		}
	}
}
