.avatar
  size(3em)
  margin-right 1em
  
  &--inline
    display inline-block
    vertical-align middle
  
  &--floating
    float left
    transform translateX(-50%)
    margin-right -.7em
  
  &--rounded
    border-radius 50%