head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  meta(name='imagetoolbar' content='no')
  meta(name='msthemecompatible' content='no')
  meta(name='cleartype' content='on')
  meta(name='HandheldFriendly' content='True')
  meta(name='google' value='notranslate')

  link(rel='apple-touch-icon', sizes='57x57', href='apple-icon-57x57.png')
  link(rel='apple-touch-icon', sizes='60x60', href='apple-icon-60x60.png')
  link(rel='apple-touch-icon', sizes='72x72', href='apple-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='76x76', href='apple-icon-76x76.png')
  link(rel='apple-touch-icon', sizes='114x114', href='apple-icon-114x114.png')
  link(rel='apple-touch-icon', sizes='120x120', href='apple-icon-120x120.png')
  link(rel='apple-touch-icon', sizes='144x144', href='apple-icon-144x144.png')
  link(rel='apple-touch-icon', sizes='152x152', href='apple-icon-152x152.png')
  link(rel='apple-touch-icon', sizes='180x180', href='apple-icon-180x180.png')
  link(rel='icon', type='image/png', sizes='192x192', href='android-icon-192x192.png')
  link(rel='icon', type='image/png', sizes='32x32', href='favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='96x96', href='favicon-96x96.png')
  link(rel='icon', type='image/png', sizes='16x16', href='favicon-16x16.png')
  link(rel='manifest', href='manifest.json')
  meta(name='msapplication-TileColor', content='#ffffff')
  meta(name='msapplication-TileImage', content='ms-icon-144x144.png')
  meta(name='theme-color', content='#ffffff')

  meta(name='description' content='«Книжная полка фронтендера» — это коллекция лучших книг для фронтенд-разработчиков. Книги можно фильтровать по&nbsp;тематике, языку и сложности, благодаря чему вы с лёгкостью найдёте то, что вам нужно.')
  meta(name='keywords' content='вёрстка, фронтенд, веб-дизайн, веб-разработка, книги, учебная литература, учебники, html, css, javascript')

  block head
  title= pageTitle || 'Заголовок страницы'
  

  // Базовые стили
  link(href='assets/styles/core.min.css?t=' + timestamp rel='stylesheet')

  // Стили страницы
  link(href='assets/styles/' + pageName + '.min.css?t=' + timestamp rel='stylesheet')