.footer
  margin-top 60px
  
  background $bg-color
  border-top 1px solid $border-color
  
  &--main 
    margin-top 0
  

  &__inner
    padding-top 30px
    padding-bottom 30px
    
    display flex
    align-items center
    justify-content space-between
    
    +mobile()
      display block
      text-align center
  

  &__left
    +mobile()
      margin-bottom 20px
      
      .logo
        center()