.footer
{
	border-top: 1px solid var(--borderColor);
	background: var(--bgColor);

	&__inner
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 30px;
		padding-bottom: 30px;

		@media (--mobile)
		{
			display: block;
			text-align: center;
		}
	}

	&__left
	{
		@media (--mobile)
		{
			margin-bottom: 20px;

			& .logo
			{
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
}
