mixin filters()
	+b.filters&attributes(attributes)
		.container
			+e.text
				| Мне нужна книга #[span.nobr по #[+e.SELECT.select.js-category]] #[span.nobr на #[+e.SELECT.select.js-language]] языке #[span.nobr для #[+e.SELECT.select.js-difficulty]] разработчиков
