include ../tag/tag

mixin filters()
	+b.filters.container&attributes(attributes)
		+tag('CSS')
		+tag('JavaScript')
		+tag('Вёрстка')
		+tag('HTML')
		+tag('SVG')
		+tag('Node.js')
		+tag('Оптимизация')
		+tag('Backbone')
		+tag('jQuery')
		+tag('CSS')
		+tag('JavaScript')
		+tag('Вёрстка')
		+tag('HTML')
		+tag('SVG')
		+tag('Node.js')
		+tag('Оптимизация')
		+tag('Backbone')
		+tag('jQuery')
