.page-meta
  container($site-width)
  margin-top 30px
  margin-bottom 30px
  

  &__link
    display inline-block
    margin-bottom 30px
    
    opacity .6
    
    +mobile()
      margin-bottom 20px

    &:hover
      opacity 1
  

  &__title
    +mobile()
      font-size 36px